

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: rgb(44, 144, 144);
  color:rgb(238, 249, 245)
}

.pointer {
  cursor: pointer;
}

.iconoCarrito {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.numeroCarrito {
  font-size: 15px;
  font-weight: 400;
  background-color: red;
  padding: 6px;
  border-radius: 10000%;
  position: absolute;
  right: 17px;
  top: -5px;
}

.itemListContainer {
  margin: 30px;
}